@font-face {
    font-family: 'PlayFair'; 
    src: url('../assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('woff');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'PlayFair-Italic'; 
    src: url('../assets/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('woff');
}

@font-face {
    font-family: 'PlayFair-Bold'; 
    src: url('../assets/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('woff');
}

#appContainer {
    display: grid;
    grid-template-rows: 104px 30% 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#homeTextContainer {
    grid-row-start: 2;
    align-self: start;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100vw;
    flex: 1;
    margin-bottom: 20px;
}

#homeTextContainer > h1 {
    font-family: 'PlayFair-Bold', 'Courier New', Courier, monospace;
    font-weight: Bold 600;
    font-size: 2.5rem;
    width: 60vw;
}

#homeTextContainer > h2 {
    font-family: 'PlayFair', 'Courier New', Courier, monospace;
    width: 50vw;
    margin: 0;
    margin-bottom: 30px;
}

#homeImage {
    grid-row-start: 3;
    justify-self: center;
    display: flex;
    align-self: start;
    width: 75%;
    height: 50vh;
    z-index: -1;
    border: 5px solid #FEC037;
    flex: 1;
    margin-top: 20px;
}

#shopNowBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FEC037;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'PlayFair', 'Courier New', Courier, monospace;
}

#shopNowBtn:hover {
    background-color: #fdd47c;
}

.linkBtn {
    text-decoration: none;
    color: black;
}
