@font-face {
    font-family: 'PlayFair'; 
    src: url('../assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('woff');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'PlayFair-Italic'; 
    src: url('../assets/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('woff');
}

#headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FEC037;
    height: 85px;
}

#headerContainer h1 {
    padding-left: 25px;
    font-family: 'PlayFair-Italic', 'Courier New', Courier, monospace;
}

#headerBtns button {
    background: none;
    border: none;
    color: black;
}

#headerBtns {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 15px;
}

#homeBtn {
    text-decoration: none;
    color: black;
}

.linkBtn {
    text-decoration: none;
    color: black;
}

#bagBtn {
    position: relative;
}

#circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    right: 12px;
}

#circleText {
    color: white;
    font-size: .9rem;
    padding-bottom: 7px;
}

  #homeBtn,
  #productsBtn,
  #aboutBtn,
  #cartBtn {    
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'PlayFair', 'Courier New', Courier, monospace;
  }
  
  